doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title} : Sentinel
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')

  body
    - user = user || {};
    - user.profile = user.profile || [0];
    - user.perm = user.perm || [{perm: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}];
    - user.teams = user.teams || [{}];

    div.god-container
      header#root-container
        header#root-header.navbar.navbar-fixed-top
          div.container
            div.navbar-header
              h3
                a#logo-text.text-left(href='/') Sentinel
            nav#root-navbar.navbar-collapse.collapse.pull-right
              ul#root-navbar-ul.nav.navbar-nav

                - if (title === 'Home') {
                li.active
                  a(href='/') Home
                - }
                - else {
                li
                  a(href='/') Home
                - }

                - var uname = user.profile[0].name || user.uid;
                - if (title === 'Me') {
                li.active
                  a(href='#') #{uname}
                - }
                - else {
                li
                  a(href='#') #{uname}
                - }

                - if (title === 'Controls') {
                li.active
                  a(href='/controls') Controls
                - }
                - else {
                li
                  a(href='/controls') Controls
                - }

                li
                  a(href='/logout') Logout

      div#main-container.container
        div#main-root-row.row
          div#sidebar-root-col.col-xs-4.col-sm-4.col-md-3
            div.list-group
              - if (user.perm[0].perm[0] > 2) {
              div.list-group-item
                a.sidebar-a(href='#')
                  p.text-left Home
                  h6.text-left
                    p Feeds, daily activities,
                      | and social communication center.
                div.sidebar-nested-container.container.hidden
                  div.sidebar-nested-listg.list-group
                    - user.teams.forEach(function(t) {
                    a.sidebar-nested-listgi.list-group-item(href='#') #{t}
                    - });

              div.list-group-item
                a.sidebar-a(href='#')
                  p.text-left #{uname}
                  h6.text-left
                    p My space,
                      | activities, notifications and interactions.
                div.sidebar-nested-container.container.hidden
                  div.sidebar-nested-listg.list-group
                    - user.teams.forEach(function(t) {
                    a.sidebar-nested-listgi.list-group-item(href='#') #{t}
                    - });
              - }
              - if (user.perm[0].perm[1] > 2) {
              div.list-group-item
                a.sidebar-a(href='#')
                  p.text-left Knowledge Base
                  h6.text-left
                    p Knowledge repository,
                      | for documents and such.
                div.sidebar-nested-container.container.hidden
                  div.sidebar-nested-listg.list-group
                    - user.teams.forEach(function(t) {
                    a.sidebar-nested-listgi.list-group-item(href='#') #{t}
                    - });
                    a.sidebar-nested-listgi.list-group-item(href='#') Repository
                    a.sidebar-nested-listgi.list-group-item(href='#') My Documents
              - }
              - if (user.perm[0].perm[1] > 2) {
              div.list-group-item
                a.sidebar-a(href='#')
                  p.text-left Project Manager
                  h6.text-left
                    p Project management,
                      | issue tracking and other organizational processes.
                div.sidebar-nested-container.container.hidden
                  div.sidebar-nested-listg.list-group
                    - user.teams.forEach(function(t) {
                    a.sidebar-nested-listgi.list-group-item(href='#') #{t}
                    - });
                    a.sidebar-nested-listgi.list-group-item(href='#') Create Ticket
                    a.sidebar-nested-listgi.list-group-item(href='#') Track Ticket
                    a.sidebar-nested-listgi.list-group-item(href='#') My Tickets
              - }
            div.hidden
              p
                a.list-group-item.text-left(href='#') << Hide


          div#content-root-col.col-xs-12.col-sm-8.col-md-9
            div#content.container
              block content

      footer#root-footer.navbar.navbar-fixed-bottom
        div.container
          nav#foot-navbar.navbar-collapse.collapse.pull-right
            ul#foot-navbar-ul.nav.navbar-nav
              li
                form#search.navbar-form(action='/find',method='post')
                  div.row
                    div.col-xs-12.col-sm-4.col-md-4
                      div.form-group
                        div.input-group
                          span.input-group-addon @
                          input.form-control(type='text', placeholder='Filter peer or team')
                    div.col-xs-12.col-sm-4.col-md-4
                      div.form-group
                        div.input-group
                          span.input-group-addon #
                          input.form-control(type='text', placeholder='Filter tag')
                    div.col-xs-12.col-sm-4.col-md-4
                      div.form-group
                        div.input-group
                          span.input-group-addon file://
                          input.form-control(type='text', placeholder='Filter document')

      script(src='javascripts/jquery-2.0.3.min.js')
      script(src='javascripts/underscore.js')
      script(src='javascripts/backbone.js')
      script(src='javascripts/prochondo.js')
      script(src='javascripts/uuid.js')
      script(src='javascripts/maatha.js')